* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pexels-magda-ehlers-2114014.jpg');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.api-data {
    background-color: blue;
}