@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  font-size: 30px;
  color:aliceblue;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 7px;
  text-shadow: 1px 1px 2px rgb(34, 5, 29), 0 0 1em rgb(225, 182, 12), 0 0 0.2em rgb(255, 0, 115);
}

.title {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("pexels-magda-ehlers-2114014.jpg");
  background-size: cover;
  height: 100vh;
  padding: 100px;
  margin: 0;
}

.container {
  position: relative;
  width: 400px;
  height: 150px;
  background: rgba(27, 2, 73, 0.743);
  border-radius: 20px;
  border: 1px solid rgba(27, 2, 73, 0.307);
  backdrop-filter: blur(10px);
  padding: 20px;
  color:aliceblue;
  transition: height .9s ease;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}

.search input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: aliceblue;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}

.search input::placeholder {
color:aliceblue;
text-transform: capitalize;
}

.search i {
  position: absolute;
  left: 10px;
  color:aliceblue;
}

.search button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: aliceblue;
  padding: 0 40px 0 5px;
  cursor: pointer;
}

.weather-box {
  text-align: center;
  margin: 20px 40px;
}

.weather-box, .weather-details, .not-found {
  overflow:hidden;
  visibility: hidden;
}

.weather-box.active, .weather-details.active, .not-found.active {
  visibility: visible;
}

.weather-box .box, .not-found .box {
  transform: translateY(-100%);
}

.weather-box.active .box, .not-found.active .box {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: .2s;
}

.container.active .weather-box .box .info-weather, .container.active .weather-details .feels .info-feels,
 .container.active .weather-details .wind .info-wind {
  transform: translateY(0%);
  transition: transform 1s ease;
}

.weather-box img {
  width: 70%;
}

.weather-box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 15px 0 6px 0;
}

.weather-box .temperature span {
  position: absolute;
  font-size: 24px;
  margin-left: 4px;
}

.weather-box .description {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
}

.weather-details .feels,
 .weather-details .wind {
  display: flex;
  align-items: center;
  width: 70%;
}

.weather-details .feels {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i {
  font-size: 60px;
  margin-right: 10px;
}

.weather-details span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}
.weather-details p {
  font-size: 14px;
  font-weight: 500;
}

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.not-found img {
width: 65%;
}

.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

#toggleButton {
  color:aliceblue;
  border-radius: 5px;
  background-color:rgb(61, 29, 56);
  border: 1px solid rgb(225, 174, 154);
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}